:root {
  --dark-blue: #306ec5e6;
  --light-blue: #87b2ef;
  --hover-blue: #5081c6;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--dark-blue);
}

.main-section {
  display: grid;
}

.title {
  text-align: center;
  margin-top: 10%;
  font-size: 38px;
}

.timer {
  display: flex;
  justify-self: center;
}

.container {
  width: 80px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--light-blue);
  color: var(--white);
  justify-content: center;
  display: grid;
  font-size: 40px;
}

label {
  font-size: 25px;
  margin: 1%;
  margin-top: 2%;
}

button {
  background-color: var(--light-blue);
  color: black;
  border-color: var(--light-blue);
  border-radius: 12px;
  border: 1px;
  width: 200px;
  height: 50px;
  margin-top: 10%;
  font-weight: bolder;
  font-size: 25px;
  justify-self: center;
  cursor: pointer;
}
